<div class="container">
  <nav
    class="navbar navbar-light bg-light d-flex justify-content-between align-items-center mb-2"
  >
    <div>
      <a class="navbar-brand p-2">
        <img src="../../assets/suitcase.png" width="30" height="30" alt="" />
        <span style="font-size: 16px" class="ml-2 mt-4">{{ pageTitle }}</span>
      </a>
    </div>
    <div>
      <a class="navbar-brand p-2">
        <img src="../../assets/profile.png" width="30" height="30" alt="" />
        <span class="ml-2 mt-4" style="font-size: 16px">İsa Toltar</span>
      </a>
      <a (click)="logout()" class="btn btn-danger btn-small"> Logout</a>
    </div>
  </nav>
  <a
    *ngIf="role === 'ROLE_MANAGER'"
    (click)="modalState = true"
    class="btn btn-primary btn-md mt-2"
  >
    Create Job</a
  >
  <div class="jobs-group py-4">
    <div *ngFor="let job of jobs" class="card my-3 p-3">
      <div class="card-body d-flex justify-content-between align-items-center">
        <div>
          <span class="text-success font-weight-bold"> {{ job.title }}</span>
          <span class="mx-2 text-danger font-weight-bold"
            >Hiring {{ job.numberOfPeople }} People</span
          >
        </div>

        <div>
          <a
            [routerLink]="['/jobs', job.id, 'details']"
            class="btn btn-success mx-2"
            >Details</a
          >
          <a
            *ngIf="role === 'ROLE_MANAGER'"
            [routerLink]="['/jobs', job.id, 'applications']"
            class="btn btn-warning mx-2"
            >See Applications</a
          >
          <button
            *ngIf="role === 'ROLE_MANAGER'"
            (click)="deleteJob($event, job.id)"
            class="btn btn-danger"
          >
            Delete
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="text-center" *ngIf="jobs.length === 0">
    There is no jobs in the moment
  </div>
</div>

<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="false"
  [ngClass]="{ show: modalState }"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Create Job</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          (click)="modalState = false"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form
          #f="ngForm"
          [formGroup]="jobForm"
          (ngSubmit)="f.form.valid && onSubmit()"
        >
          <div class="form-group">
            <label for="exampleInputEmail1">Job Title</label>
            <input
              type="text"
              class="form-control"
              id="exampleInputTitle"
              aria-describedby="titleHelp"
              placeholder="Enter Job Title"
              formControlName="title"
            />
          </div>
          <div class="form-group">
            <label for="exampleInputDescription">Job Description</label>
            <textarea
              class="form-control"
              id="exampleInputDescription"
              aria-describedby="descriptionHelp"
              placeholder="Enter Job Description"
              formControlName="description"
              rows="5"
            ></textarea>
          </div>

          <div class="form-group">
            <label for="exampleInputNumber"
              >Enter Number Of People to Hire</label
            >
            <input
              type="number"
              class="form-control"
              id="exampleInputNumber"
              aria-describedby="NumberHelp"
              placeholder="Enter number of people to hire"
              formControlName="people"
            />
          </div>

          <div class="form-group">
            <label for="exampleInputNumber">Last Application Date</label>
            <input
              class="form-control"
              type="datetime-local"
              value="2011-08-19T13:45:00"
              id="exampleInputNumber"
              formControlName="lastdate"
            />
          </div>

          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
