<div class="container">
  <div class="jumbotron">
    <h1 class="display-4">Welcome to Hr Application</h1>
    <p class="lead">
      This is a simple HR management application for hr managers and applicants
      for jobs.
    </p>
    <hr class="my-4" />
    <p>
      You can login as a applicant or Hr manager. You can see job listings by
      log in to system.
    </p>
    <p class="lead">
      <a
        routerLink="/login"
        class="btn btn-primary btn-lg mr-2"
        href="#"
        role="button"
        >Login</a
      >
      <a
        routerLink="/register"
        class="btn btn-primary btn-lg mr-2"
        href="#"
        role="button"
        >Register</a
      >
    </p>
  </div>
</div>
